USE [master]
GO
/****** Object:  Database [PandaShopDB]    Script Date: 4/11/2024 5:32:06 PM ******/
CREATE DATABASE [PandaShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ECommerceDB', FILENAME = N'D:\home\pandashop\db\\PandaShopDB.mdf' , SIZE = 3264KB , MAXSIZE = 30720KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ECommerceDB_log', FILENAME = N'D:\home\pandashop\db\\PandaShopDB.ldf' , SIZE = 832KB , MAXSIZE = 30720KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PandaShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PandaShopDB]
GO
/****** Object:  Schema [pandahacker_SQLLogin_1]    Script Date: 4/11/2024 5:32:06 PM ******/
CREATE SCHEMA [pandahacker_SQLLogin_1]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Address](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[provinceOrCity] [nvarchar](50) NOT NULL,
	[provinceOrCityCode] [varchar](5) NOT NULL,
	[district] [nvarchar](50) NOT NULL,
	[districtCode] [varchar](5) NOT NULL,
	[communeOrWard] [nvarchar](50) NOT NULL,
	[streetAndHouseNum] [nvarchar](50) NOT NULL,
	[userId] [int] NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CartDetail]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productNum] [int] NOT NULL,
	[cartId] [int] NOT NULL,
	[productOptionId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parentId] [int] NULL,
	[name] [nvarchar](50) NOT NULL,
	[level] [int] NOT NULL DEFAULT ((1)),
	[imageId] [int] NULL,
	[templateId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Delivery](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[startedAt] [datetime] NULL,
	[finishedAt] [datetime] NULL,
	[state] [varchar](10) NOT NULL,
	[deliveryMethodId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DeliveryMethod]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryMethod](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[deliveryPartnerId] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[pricePerKm] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DeliveryPartner]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryPartner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](500) NULL,
	[starNum] [float] NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[parentId] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[productId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Image]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](100) NULL,
	[fileName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[createdAt] [datetime] NULL,
	[note] [nvarchar](200) NULL,
	[orderId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order_]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[note] [nvarchar](200) NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[addressId] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[deliveryId] [int] NOT NULL,
	[paymentMethodId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[createdAt] [datetime] NULL,
	[discountPercent] [float] NULL,
	[price] [money] NOT NULL,
	[productNum] [int] NOT NULL,
	[orderId] [int] NOT NULL,
	[productOptionId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permission]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[resourceId] [int] NOT NULL,
	[canRead] [bit] NOT NULL,
	[canWrite] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[starNum] [float] NOT NULL DEFAULT ((0)),
	[description] [nvarchar](4000) NOT NULL,
	[sellingNum] [int] NOT NULL DEFAULT ((0)),
	[remainingNum] [int] NOT NULL,
	[categoryId] [int] NOT NULL,
	[shopId] [int] NOT NULL,
	[addressId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductBatch]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductBatch](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[warehouseInputId] [int] NOT NULL,
	[productOptionId] [int] NOT NULL,
	[number] [int] NOT NULL,
	[manufactureDate] [datetime] NOT NULL,
	[expireDate] [datetime] NULL,
	[arriveDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductBatchInventory]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductBatchInventory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productBatchId] [int] NOT NULL,
	[remainingNumber] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NOT NULL,
	[imageId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductOption]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOption](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[price] [money] NOT NULL,
	[name] [nvarchar](50) NULL,
	[productId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductOptionImage]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOptionImage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productOptionId] [int] NOT NULL,
	[imageId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductOptionValue]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOptionValue](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productOptionId] [int] NOT NULL,
	[propertyId] [int] NOT NULL,
	[value] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductPropertyValue]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPropertyValue](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[value] [nvarchar](500) NOT NULL,
	[productId] [int] NOT NULL,
	[propertyId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Property]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Property](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[secondaryId] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PropertyTemplate]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyTemplate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[templateId] [int] NOT NULL,
	[propertyId] [int] NOT NULL,
	[isRequired] [bit] NULL DEFAULT ((1)),
	[orderIndex] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PropertyTemplateValue]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyTemplateValue](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[propertyTemplateId] [int] NOT NULL,
	[value] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Resource]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resource](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shop]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Template]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Template](
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User_]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User_](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[phone] [varchar](15) NOT NULL,
	[email] [varchar](100) NULL,
	[password] [varchar](500) NOT NULL,
	[createdAt] [datetime] NULL DEFAULT (getdate()),
	[updatedAt] [datetime] NULL DEFAULT (getdate()),
	[cartId] [int] NOT NULL,
	[shopId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[roleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Warehouse]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[addressId] [int] NOT NULL,
	[shopId] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseInput]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseInput](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[warehouseId] [int] NOT NULL,
	[date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseOutput]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseOutput](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseOutputDetail]    Script Date: 4/11/2024 5:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseOutputDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[warehouseOutputId] [int] NOT NULL,
	[productBatchId] [int] NOT NULL,
	[number] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([id], [provinceOrCity], [provinceOrCityCode], [district], [districtCode], [communeOrWard], [streetAndHouseNum], [userId], [name]) VALUES (5, N'Cần Thơ', N'92', N'Ninh Kiều', N'916', N'Cái Khế', N'ABC', NULL, NULL)
INSERT [dbo].[Address] ([id], [provinceOrCity], [provinceOrCityCode], [district], [districtCode], [communeOrWard], [streetAndHouseNum], [userId], [name]) VALUES (10, N'Cần Thơ 2', N'92', N'Ninh Kiều', N'916', N'Cái Khế', N'ABC 2', NULL, NULL)
INSERT [dbo].[Address] ([id], [provinceOrCity], [provinceOrCityCode], [district], [districtCode], [communeOrWard], [streetAndHouseNum], [userId], [name]) VALUES (11, N'Cần Thơ 3', N'92', N'Ninh Kiều', N'916', N'Cái Khế', N'ABC 3', 12, NULL)
SET IDENTITY_INSERT [dbo].[Address] OFF
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([id]) VALUES (1)
INSERT [dbo].[Cart] ([id]) VALUES (2)
INSERT [dbo].[Cart] ([id]) VALUES (3)
SET IDENTITY_INSERT [dbo].[Cart] OFF
SET IDENTITY_INSERT [dbo].[CartDetail] ON 

INSERT [dbo].[CartDetail] ([id], [productNum], [cartId], [productOptionId]) VALUES (52, 7, 9, 3)
INSERT [dbo].[CartDetail] ([id], [productNum], [cartId], [productOptionId]) VALUES (56, 3, 9, 3035)
INSERT [dbo].[CartDetail] ([id], [productNum], [cartId], [productOptionId]) VALUES (1057, 1, 9, 2023)
SET IDENTITY_INSERT [dbo].[CartDetail] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [parentId], [name], [level], [imageId], [templateId]) VALUES (2, NULL, N'Thời trang nữ', 1, 12, NULL)
INSERT [dbo].[Category] ([id], [parentId], [name], [level], [imageId], [templateId]) VALUES (3, NULL, N'Thời trang nam', 1, 13, NULL)
INSERT [dbo].[Category] ([id], [parentId], [name], [level], [imageId], [templateId]) VALUES (4, 3, N'Áo thun nam', 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([id], [description], [fileName]) VALUES (5, NULL, N'4c9c3141-e27e-4758-b80a-ef3ee1eb3287.jpeg')
INSERT [dbo].[Image] ([id], [description], [fileName]) VALUES (6, NULL, N'fac58171-42d9-48d6-8915-5c2e6513f45d.jpeg')
INSERT [dbo].[Image] ([id], [description], [fileName]) VALUES (12, NULL, N'3916f275-4ea3-4805-b0f3-1a4aba7469ed.png')
SET IDENTITY_INSERT [dbo].[Image] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [starNum], [description], [sellingNum], [remainingNum], [categoryId], [shopId], [addressId]) VALUES (1, N'SamSung TrungDZ', 0, N'SamSung galaxy TrungDZ', 100, 5, 15, 1, 5)
INSERT [dbo].[Product] ([id], [name], [starNum], [description], [sellingNum], [remainingNum], [categoryId], [shopId], [addressId]) VALUES (3, N'SamSung galaxy a1', 0, N'Smartphone', 10, 5, 15, 1, 5)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[ProductBatch] ON 

INSERT [dbo].[ProductBatch] ([id], [warehouseInputId], [productOptionId], [number], [manufactureDate], [expireDate], [arriveDate]) VALUES (11, 13, 3044, 10, CAST(N'2024-04-01 17:18:22.280' AS DateTime), CAST(N'2024-07-20 17:18:22.280' AS DateTime), CAST(N'2024-04-11 17:18:22.280' AS DateTime))
INSERT [dbo].[ProductBatch] ([id], [warehouseInputId], [productOptionId], [number], [manufactureDate], [expireDate], [arriveDate]) VALUES (12, 14, 3045, 5, CAST(N'2024-04-01 17:25:47.850' AS DateTime), CAST(N'2024-07-20 17:25:47.850' AS DateTime), CAST(N'2024-04-11 17:25:47.850' AS DateTime))
INSERT [dbo].[ProductBatch] ([id], [warehouseInputId], [productOptionId], [number], [manufactureDate], [expireDate], [arriveDate]) VALUES (13, 15, 3044, 4, CAST(N'2024-04-01 17:26:09.043' AS DateTime), CAST(N'2024-07-20 17:26:09.043' AS DateTime), CAST(N'2024-04-11 17:26:09.043' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductBatch] OFF
SET IDENTITY_INSERT [dbo].[ProductBatchInventory] ON 

INSERT [dbo].[ProductBatchInventory] ([id], [productBatchId], [remainingNumber]) VALUES (3, 11, 10)
INSERT [dbo].[ProductBatchInventory] ([id], [productBatchId], [remainingNumber]) VALUES (4, 12, 5)
INSERT [dbo].[ProductBatchInventory] ([id], [productBatchId], [remainingNumber]) VALUES (5, 13, 4)
SET IDENTITY_INSERT [dbo].[ProductBatchInventory] OFF
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([id], [productId], [imageId]) VALUES (1, 1, 26)
INSERT [dbo].[ProductImage] ([id], [productId], [imageId]) VALUES (2, 1, 27)
INSERT [dbo].[ProductImage] ([id], [productId], [imageId]) VALUES (3, 2, 28)
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
SET IDENTITY_INSERT [dbo].[ProductOption] ON 

INSERT [dbo].[ProductOption] ([id], [price], [name], [productId]) VALUES (3, 30000000.0000, NULL, 3)
INSERT [dbo].[ProductOption] ([id], [price], [name], [productId]) VALUES (4, 200000000.0000, N'16gb', 4)
INSERT [dbo].[ProductOption] ([id], [price], [name], [productId]) VALUES (1004, 200000000.0000, N'16gb', 1004)
SET IDENTITY_INSERT [dbo].[ProductOption] OFF
SET IDENTITY_INSERT [dbo].[ProductOptionValue] ON 

INSERT [dbo].[ProductOptionValue] ([id], [productOptionId], [propertyId], [value]) VALUES (2, 3, 3, N'32gb')
INSERT [dbo].[ProductOptionValue] ([id], [productOptionId], [propertyId], [value]) VALUES (3, 4, 3, N'16gb')
INSERT [dbo].[ProductOptionValue] ([id], [productOptionId], [propertyId], [value]) VALUES (1003, 1004, 3, N'16gb')
SET IDENTITY_INSERT [dbo].[ProductOptionValue] OFF
SET IDENTITY_INSERT [dbo].[ProductPropertyValue] ON 

INSERT [dbo].[ProductPropertyValue] ([id], [value], [productId], [propertyId]) VALUES (1, N'4gb', 1, 3)
INSERT [dbo].[ProductPropertyValue] ([id], [value], [productId], [propertyId]) VALUES (4, N'128gb', 3, 4)
INSERT [dbo].[ProductPropertyValue] ([id], [value], [productId], [propertyId]) VALUES (5, N'64gb', 4, 4)
SET IDENTITY_INSERT [dbo].[ProductPropertyValue] OFF
SET IDENTITY_INSERT [dbo].[Property] ON 

INSERT [dbo].[Property] ([id], [name], [secondaryId]) VALUES (3, N'RAM', N'3')
INSERT [dbo].[Property] ([id], [name], [secondaryId]) VALUES (4, N'Bộ nhớ trong', N'4')
INSERT [dbo].[Property] ([id], [name], [secondaryId]) VALUES (5, N'Màu sắc', N'color')
SET IDENTITY_INSERT [dbo].[Property] OFF
SET IDENTITY_INSERT [dbo].[PropertyTemplate] ON 

INSERT [dbo].[PropertyTemplate] ([id], [templateId], [propertyId], [isRequired], [orderIndex]) VALUES (5, 2, 3, 1, 0)
INSERT [dbo].[PropertyTemplate] ([id], [templateId], [propertyId], [isRequired], [orderIndex]) VALUES (6, 3, 7, 1, 0)
INSERT [dbo].[PropertyTemplate] ([id], [templateId], [propertyId], [isRequired], [orderIndex]) VALUES (7, 3, 8, 1, 0)
SET IDENTITY_INSERT [dbo].[PropertyTemplate] OFF
SET IDENTITY_INSERT [dbo].[PropertyTemplateValue] ON 

INSERT [dbo].[PropertyTemplateValue] ([id], [propertyTemplateId], [value]) VALUES (9, 5, N'2gb')
INSERT [dbo].[PropertyTemplateValue] ([id], [propertyTemplateId], [value]) VALUES (10, 5, N'4gb')
INSERT [dbo].[PropertyTemplateValue] ([id], [propertyTemplateId], [value]) VALUES (11, 5, N'8gb')
SET IDENTITY_INSERT [dbo].[PropertyTemplateValue] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [name]) VALUES (1, N'user')
INSERT [dbo].[Role] ([id], [name]) VALUES (2, N'shop')
INSERT [dbo].[Role] ([id], [name]) VALUES (3, N'admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Shop] ON 

INSERT [dbo].[Shop] ([id], [name]) VALUES (1, N'PandaShop')
INSERT [dbo].[Shop] ([id], [name]) VALUES (2, N'PandaShop')
INSERT [dbo].[Shop] ([id], [name]) VALUES (3, N'Panda2')
SET IDENTITY_INSERT [dbo].[Shop] OFF
SET IDENTITY_INSERT [dbo].[Template] ON 

INSERT [dbo].[Template] ([id]) VALUES (1)
INSERT [dbo].[Template] ([id]) VALUES (2)
INSERT [dbo].[Template] ([id]) VALUES (3)
SET IDENTITY_INSERT [dbo].[Template] OFF
SET IDENTITY_INSERT [dbo].[User_] ON 

INSERT [dbo].[User_] ([id], [name], [phone], [email], [password], [createdAt], [updatedAt], [cartId], [shopId]) VALUES (12, N'Trung', N'0988202071', N'banhchuoi1999@gmail.com', N'aa123456', CAST(N'2024-03-11 17:24:17.873' AS DateTime), CAST(N'2024-03-11 17:24:17.873' AS DateTime), 9, 2)
INSERT [dbo].[User_] ([id], [name], [phone], [email], [password], [createdAt], [updatedAt], [cartId], [shopId]) VALUES (13, N'Trung', N'0364500041', N'trung@gmial.com', N'aa123456', CAST(N'2024-04-04 15:31:32.380' AS DateTime), CAST(N'2024-04-04 15:31:32.380' AS DateTime), 10, NULL)
INSERT [dbo].[User_] ([id], [name], [phone], [email], [password], [createdAt], [updatedAt], [cartId], [shopId]) VALUES (14, N'Trung2', N'0364500042', N'trung@gmial2.com', N'aa123456', CAST(N'2024-04-04 15:49:37.267' AS DateTime), CAST(N'2024-04-04 15:49:37.267' AS DateTime), 11, NULL)
SET IDENTITY_INSERT [dbo].[User_] OFF
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([id], [userId], [roleId]) VALUES (3, 12, 1)
INSERT [dbo].[UserRole] ([id], [userId], [roleId]) VALUES (4, 13, 1)
INSERT [dbo].[UserRole] ([id], [userId], [roleId]) VALUES (5, 14, 1)
SET IDENTITY_INSERT [dbo].[UserRole] OFF
SET IDENTITY_INSERT [dbo].[Warehouse] ON 

INSERT [dbo].[Warehouse] ([id], [addressId], [shopId], [name]) VALUES (1, 13, 5, N'Kho A')
SET IDENTITY_INSERT [dbo].[Warehouse] OFF
SET IDENTITY_INSERT [dbo].[WarehouseInput] ON 

INSERT [dbo].[WarehouseInput] ([id], [warehouseId], [date]) VALUES (1, 1, CAST(N'2024-04-09 03:18:43.087' AS DateTime))
INSERT [dbo].[WarehouseInput] ([id], [warehouseId], [date]) VALUES (4, 1, CAST(N'2024-04-11 16:33:57.320' AS DateTime))
INSERT [dbo].[WarehouseInput] ([id], [warehouseId], [date]) VALUES (5, 1, CAST(N'2024-04-11 16:44:00.283' AS DateTime))
SET IDENTITY_INSERT [dbo].[WarehouseInput] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Property__2D08ACCF1B484926]    Script Date: 4/11/2024 5:32:07 PM ******/
ALTER TABLE [dbo].[Property] ADD UNIQUE NONCLUSTERED 
(
	[secondaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Property__2D08ACCFB0D82A98]    Script Date: 4/11/2024 5:32:07 PM ******/
ALTER TABLE [dbo].[Property] ADD UNIQUE NONCLUSTERED 
(
	[secondaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Unique_User_Phone]    Script Date: 4/11/2024 5:32:07 PM ******/
ALTER TABLE [dbo].[User_] ADD  CONSTRAINT [Unique_User_Phone] UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT ((0)) FOR [starNum]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Order_] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  DEFAULT ((0)) FOR [discountPercent]
GO
ALTER TABLE [dbo].[Permission] ADD  DEFAULT ((1)) FOR [canRead]
GO
ALTER TABLE [dbo].[Permission] ADD  DEFAULT ((0)) FOR [canWrite]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User_] ([id])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_User]
GO
ALTER TABLE [dbo].[CartDetail]  WITH CHECK ADD  CONSTRAINT [FK_CartDetail_Cart] FOREIGN KEY([cartId])
REFERENCES [dbo].[Cart] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartDetail] CHECK CONSTRAINT [FK_CartDetail_Cart]
GO
ALTER TABLE [dbo].[CartDetail]  WITH CHECK ADD  CONSTRAINT [FK_CartDetail_ProductOption] FOREIGN KEY([productOptionId])
REFERENCES [dbo].[ProductOption] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartDetail] CHECK CONSTRAINT [FK_CartDetail_ProductOption]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Category] FOREIGN KEY([parentId])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Category]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Image] FOREIGN KEY([imageId])
REFERENCES [dbo].[Image] ([id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Image]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Template] FOREIGN KEY([templateId])
REFERENCES [dbo].[Template] ([id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Template]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_DeliveryPartner] FOREIGN KEY([deliveryMethodId])
REFERENCES [dbo].[DeliveryMethod] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_DeliveryPartner]
GO
ALTER TABLE [dbo].[DeliveryMethod]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryMethod_DeliveryPartner] FOREIGN KEY([deliveryPartnerId])
REFERENCES [dbo].[DeliveryPartner] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeliveryMethod] CHECK CONSTRAINT [FK_DeliveryMethod_DeliveryPartner]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Feedback] FOREIGN KEY([parentId])
REFERENCES [dbo].[Feedback] ([id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Feedback]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Product]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User_] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_User]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Order] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order_] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Order]
GO
ALTER TABLE [dbo].[Order_]  WITH CHECK ADD  CONSTRAINT [FK_Order_Address] FOREIGN KEY([addressId])
REFERENCES [dbo].[Address] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_] CHECK CONSTRAINT [FK_Order_Address]
GO
ALTER TABLE [dbo].[Order_]  WITH CHECK ADD  CONSTRAINT [FK_Order_Delivery] FOREIGN KEY([deliveryId])
REFERENCES [dbo].[Delivery] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_] CHECK CONSTRAINT [FK_Order_Delivery]
GO
ALTER TABLE [dbo].[Order_]  WITH CHECK ADD  CONSTRAINT [FK_Order_PaymentMethod] FOREIGN KEY([paymentMethodId])
REFERENCES [dbo].[PaymentMethod] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_] CHECK CONSTRAINT [FK_Order_PaymentMethod]
GO
ALTER TABLE [dbo].[Order_]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User_] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order_] ([id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_ProductOption] FOREIGN KEY([productOptionId])
REFERENCES [dbo].[ProductOption] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_ProductOption]
GO
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD  CONSTRAINT [FK_Permission_Resource] FOREIGN KEY([resourceId])
REFERENCES [dbo].[Resource] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Permission] CHECK CONSTRAINT [FK_Permission_Resource]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Address] FOREIGN KEY([addressId])
REFERENCES [dbo].[Address] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Address]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Shop] FOREIGN KEY([shopId])
REFERENCES [dbo].[Shop] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Shop]
GO
ALTER TABLE [dbo].[ProductBatch]  WITH CHECK ADD  CONSTRAINT [FK_ProductBatch_ProductOption] FOREIGN KEY([productOptionId])
REFERENCES [dbo].[ProductOption] ([id])
GO
ALTER TABLE [dbo].[ProductBatch] CHECK CONSTRAINT [FK_ProductBatch_ProductOption]
GO
ALTER TABLE [dbo].[ProductBatch]  WITH CHECK ADD  CONSTRAINT [FK_ProductBatch_WarehouseInput] FOREIGN KEY([warehouseInputId])
REFERENCES [dbo].[WarehouseInput] ([id])
GO
ALTER TABLE [dbo].[ProductBatch] CHECK CONSTRAINT [FK_ProductBatch_WarehouseInput]
GO
ALTER TABLE [dbo].[ProductBatchInventory]  WITH CHECK ADD  CONSTRAINT [FK_ProductBatchInventory_ProductBatch] FOREIGN KEY([productBatchId])
REFERENCES [dbo].[ProductBatch] ([id])
GO
ALTER TABLE [dbo].[ProductBatchInventory] CHECK CONSTRAINT [FK_ProductBatchInventory_ProductBatch]
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD  CONSTRAINT [FK_ProductImage_Image] FOREIGN KEY([imageId])
REFERENCES [dbo].[Image] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImage] CHECK CONSTRAINT [FK_ProductImage_Image]
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD  CONSTRAINT [FK_ProductImage_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImage] CHECK CONSTRAINT [FK_ProductImage_Product]
GO
ALTER TABLE [dbo].[ProductOption]  WITH CHECK ADD  CONSTRAINT [FK_ProductOption_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductOption] CHECK CONSTRAINT [FK_ProductOption_Product]
GO
ALTER TABLE [dbo].[ProductOptionImage]  WITH CHECK ADD  CONSTRAINT [FK_ProductOptionImage_Image] FOREIGN KEY([imageId])
REFERENCES [dbo].[Image] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductOptionImage] CHECK CONSTRAINT [FK_ProductOptionImage_Image]
GO
ALTER TABLE [dbo].[ProductOptionImage]  WITH CHECK ADD  CONSTRAINT [FK_ProductOptionImage_ProductOption] FOREIGN KEY([productOptionId])
REFERENCES [dbo].[ProductOption] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductOptionImage] CHECK CONSTRAINT [FK_ProductOptionImage_ProductOption]
GO
ALTER TABLE [dbo].[ProductOptionValue]  WITH CHECK ADD  CONSTRAINT [FK_ProductOptionValue_ProductOption] FOREIGN KEY([productOptionId])
REFERENCES [dbo].[ProductOption] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductOptionValue] CHECK CONSTRAINT [FK_ProductOptionValue_ProductOption]
GO
ALTER TABLE [dbo].[ProductOptionValue]  WITH CHECK ADD  CONSTRAINT [FK_ProductOptionValue_Property] FOREIGN KEY([propertyId])
REFERENCES [dbo].[Property] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductOptionValue] CHECK CONSTRAINT [FK_ProductOptionValue_Property]
GO
ALTER TABLE [dbo].[ProductPropertyValue]  WITH CHECK ADD  CONSTRAINT [FK_ProductPropertyValue_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductPropertyValue] CHECK CONSTRAINT [FK_ProductPropertyValue_Product]
GO
ALTER TABLE [dbo].[ProductPropertyValue]  WITH CHECK ADD  CONSTRAINT [FK_ProductPropertyValue_Property] FOREIGN KEY([propertyId])
REFERENCES [dbo].[Property] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductPropertyValue] CHECK CONSTRAINT [FK_ProductPropertyValue_Property]
GO
ALTER TABLE [dbo].[PropertyTemplate]  WITH CHECK ADD  CONSTRAINT [FK_PropertyTemplate_Property] FOREIGN KEY([propertyId])
REFERENCES [dbo].[Property] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyTemplate] CHECK CONSTRAINT [FK_PropertyTemplate_Property]
GO
ALTER TABLE [dbo].[PropertyTemplate]  WITH CHECK ADD  CONSTRAINT [FK_PropertyTemplate_Template] FOREIGN KEY([templateId])
REFERENCES [dbo].[Template] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyTemplate] CHECK CONSTRAINT [FK_PropertyTemplate_Template]
GO
ALTER TABLE [dbo].[PropertyTemplateValue]  WITH CHECK ADD  CONSTRAINT [FK_PropertyTemplateValue_PropertyTemplate] FOREIGN KEY([propertyTemplateId])
REFERENCES [dbo].[PropertyTemplate] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyTemplateValue] CHECK CONSTRAINT [FK_PropertyTemplateValue_PropertyTemplate]
GO
ALTER TABLE [dbo].[User_]  WITH CHECK ADD  CONSTRAINT [FK_User_Cart] FOREIGN KEY([cartId])
REFERENCES [dbo].[Cart] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_] CHECK CONSTRAINT [FK_User_Cart]
GO
ALTER TABLE [dbo].[User_]  WITH CHECK ADD  CONSTRAINT [FK_User_Shop] FOREIGN KEY([shopId])
REFERENCES [dbo].[Shop] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_] CHECK CONSTRAINT [FK_User_Shop]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Role]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User_] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_User]
GO
ALTER TABLE [dbo].[Warehouse]  WITH CHECK ADD  CONSTRAINT [FK_Warehouse_Address] FOREIGN KEY([addressId])
REFERENCES [dbo].[Address] ([id])
GO
ALTER TABLE [dbo].[Warehouse] CHECK CONSTRAINT [FK_Warehouse_Address]
GO
ALTER TABLE [dbo].[Warehouse]  WITH CHECK ADD  CONSTRAINT [FK_Warehouse_Shop] FOREIGN KEY([shopId])
REFERENCES [dbo].[Shop] ([id])
GO
ALTER TABLE [dbo].[Warehouse] CHECK CONSTRAINT [FK_Warehouse_Shop]
GO
ALTER TABLE [dbo].[WarehouseInput]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInput_Warehouse] FOREIGN KEY([warehouseId])
REFERENCES [dbo].[Warehouse] ([id])
GO
ALTER TABLE [dbo].[WarehouseInput] CHECK CONSTRAINT [FK_WarehouseInput_Warehouse]
GO
ALTER TABLE [dbo].[WarehouseOutputDetail]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputDetail_ProductBatch] FOREIGN KEY([productBatchId])
REFERENCES [dbo].[ProductBatch] ([id])
GO
ALTER TABLE [dbo].[WarehouseOutputDetail] CHECK CONSTRAINT [FK_WarehouseOutputDetail_ProductBatch]
GO
ALTER TABLE [dbo].[WarehouseOutputDetail]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputDetail_WarehouseOutput] FOREIGN KEY([warehouseOutputId])
REFERENCES [dbo].[WarehouseOutput] ([id])
GO
ALTER TABLE [dbo].[WarehouseOutputDetail] CHECK CONSTRAINT [FK_WarehouseOutputDetail_WarehouseOutput]
GO
ALTER TABLE [dbo].[CartDetail]  WITH CHECK ADD CHECK  (([productNum]>(0)))
GO
ALTER TABLE [dbo].[CartDetail]  WITH CHECK ADD CHECK  (([productNum]>(0)))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([remainingNum]>=(0)))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([remainingNum]>=(0)))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([sellingNum]>=(0)))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([sellingNum]>=(0)))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([starNum]>=(0) AND [starNum]<=(5)))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([starNum]>=(0) AND [starNum]<=(5)))
GO
USE [master]
GO
